#blue_tag { /* id */
  background-color: blue;
}

/*.font_30 { /* class */
  /*font-size: 30px;
}*/

h4 { /* all */
  color: purple;
}

body{
  background-color: black;
}

.card-girl-type {
  min-height: 450px !important;
}

.card-girl-img {
  object-fit: cover;
  height: 20vw !important;
}

.jumbotron {
    background-color: #88f8f2 !important;
}

.ma-1 {
  margin-left: 120px;
  padding-bottom: 50px;
  color: #790089;
}

.ma-2 {
  margin-left: 500px;
  white-space: pre-line;
}
