{% extends "base.html" %}

{% block page_content %}

    <h3 class="jumbotron display-3 d-none d-md-block text-light pl-5 container">Chiến thắng Mtao Mxây</h3>
    <br>
    <div class="container text-danger">
      <div class="row">
        <div class ="col-lg-8 col-md-10 mx-auto">
          <div class="card border-warning bg-dark" >
            <img class="card-img-top" src="https://i.ytimg.com/vi/HWBxW2GUz1w/maxresdefault.jpg" alt="Ảnh Đăm Săn">
              <div class="card-body">
              <h4 class="card-title">Trích sử thi Đăm Săn: </h4>
              <p class="card-text">              <h5>Nhà Mtao Mxây cột sàn sân đẽo hình trăng khuyết, đầu cầu thang đều đẽo hình mỏ chim ngói. Ngôi nhà của lão tù trưởng nhà giàu này quả là đẹp thật. Cầu thang rộng một lá chiếu, người nối đuôi nhau lên xuống mà khiêng một ché đuê vẫn không sợ chật.
                        <br>
                        Dam San : Ơ yiêng, ơ yiêng, xuống đây ! Ta thách ngươi đọ đao với ta đấy.
                        <br>
                        Mtao Mxây : tao không xuống đâu yiêng ơi !  Tay ta đang còn bận ôm vú vợ hai chúng ta ở trên nhà.
                        <br>
                        Dam San : Xuống, yiêng ! Xuống, yiêng !  Ngươi không xuống ư? Ta sẽ bổ đôi cái sàn sân của người cho mà xem. Ta sẽ lấy cái cầu thang của nhà ngươi chẻ ra kéo lửa, ta hun cái nhà của ngươi cho mà xem !
                        <br>
                        Mtao Mxây : Khoan, khoan yiêng ! Để ta xuống ! Không được đâm ta khi ta đang xuống đó nghe.
                        <br>
                        Dam San : Sao ta lại đâm  ngươi khi người đang xuống ? Ngươi xem cả con trâu cái của nhà ngươi trong chuồng, ta nào có thèm đâm đâu.
                        <br>
                        Mtao Mxây : ta rất sợ ngươi đâm ta khi ta đang đi .
                        <br>
                        Dam San : Sao ta lại đâm ngươi khi đang đi ? Ngươi xem, cả con heo nái của nhà ngươi dưới đất, nào ta có thèm đâm đâu.
                        <br>
                                      Thế là Mtao Mxây phải xuống. Khiêl hắn tròn như đầu cú. Giáo hắn óng ánh như cái cầu vồng. Trông hắn dữ tợn như một vị thần. Hắn đóng một cái khố sọc gấp bỏ múi, mặc một cái áo dày nút, đi từ nhà trong ra nhà ngoài, dáng tần ngần do dự, mỗi bước mỗi đắn đo, giữa một đám đông mịt mù như trong sương sớm.
                        <br>
                        Dam San : ngươi múa trước đi ơ yiêng .
                        <br>
                        Mtao Mxây : Ngươi mới là người múa trước, ơ yiêng . Ta như gà làng mới mọc cựa êchăm, chưa ai dẫm phải mà đã gãy mất cánh.
                        <br>
                        Dam San : Ngươi cứ múa đi , ơ yiêng
                        <br>
                                      Mtao Mxây rung khiêl múa vậy. Khiêl hắn kêu lạch xạch như quả mướp khô. Hắn múa một mình, Dam San khôngnhúc nhích.
                        <br>
                        Dam San : Ngươi múa một mình, múa kêu lạch xạch như quả mướp khô. Miếng múa ấy ngưoi học ai vậy?Ngươi múa chơi đó phải không yiêng?
                        <br>
                        Mtao Mxây : Ta học ai à? Có cậu ta học cậu. Có bác, ta học bác. Có thần Rồng, ta học thần Rồng.
                        <br>
                        Dam San : Thế à yiêng ? ta thì đâu có cậu mà học cậu, đâu có bác mà học bác! Chỉ có hai ta đấy, ngươi múa đi ta xem nào.
                        <br>
                        Mtao Mxây : Thế ngươi không biết ta đây là một người đã quen đi đánh thiên hạ, bắt tù binh, giẫm nát đất đai thiên hạ hay sao?
                        <br>
                        Dam San : Vâỵ thì ngươi hãy xem ta đây
                        <br>
                                      Dam San rung khiêl múa. Một lần xốc tới chàng vượt một đồi tranh. Một lần xốc tới nữa, chàng vượt một đồi lồ ô. Chàng chạy vun vút qua phía đông, vun vút qua phía tây. Còn Mtao Mxây thì bước thấp bước cao chạy hết bãi tây sang bãi đông. Hắn vung đao chém đánh phập một cái, nhưng chỉ vừa trúng một cái chão cột trâu.
                        <br>
                        Dam San : sao ngươi lại chém cái chão cột trâu ? Còn khoeo chân ta ngươi dành làm gì ?
                        <br>
                                      Đến lúc này Mtao Mxây bảo H’Nhĭ quăng cho hắn một miếng trầu, nhưng Dam San đớp được miếng trầu. Chàng nhai trầu, sức chàng tăng lên gấp bội
                        <br>
                        Dam San : Bớ Yiêng , bây giờ ngươi lại chạy ta đuổi coi
                        <br>
                                      Thế là Dam San lại múa. Chàng múa trên cao, gió như bão. Chàng múa dưới thấp, gió như lốc. Chòi lẫm đổ lăn lóc. Cây cối chết rụi . Khi chàng múa dưới thấp, vang lên tiếng khiêl đồng. Khi chàng múa trên cao, vang lên tiếng khiêl kênh. Khi chàng vừa múa vừa chạy, ba quả núi toác ra, ba đồi tranh bật rễ tung bay. Cây giáo thần, cây giáo dính đầy những oan hồn của chàng nhằm đùi Mtao Mxây phóng tới, nhưng không thủng. Chàng đâm vào người Mtao Mxây, cũng không thủng.Đến lúc này Dam San đã thấm mệt. Chàng vừa chạy vừa ngủ, chàng mộng thấy ông Trời
                        <br>
                        Dam San : Ôi chao ! Chết mất thôi ông ạ. Cháu đâm hắn mãi mà không thủng
                        <br>
                        Ông Trời : Thế hả cháu ! Vậy thì cháu lấy một cái chày cụt ném vào vành tai hắn là được.
                        <br>
                                      Dam San bừng tỉnh, chộp ngay một cái chày cụt ném trúng vành tai kẻ địch. Cái giáp của Mtao Mxây tức thì rơi loảng xoảng. Mtao Mxây tháo chạy. Hắn tránh quanh chuồng lợn  Dam San phá tan chuồng lợn. Hắn tránh quanh chuồng trâu, Dam San phá tan chuồng trâu. Cuối cùng hắn ngã lăn quay ra đất.
                        <br>
                        Mtao Mxây : ơ yiêng ! Ơ yiêng ! Để ta làm lễ cầu phúc cho yiêng một trâu ! Ta cho thêm yiêng một voi
                        <br>
                        Dam San : Ngươi còn cúng trâu cầu phúc cho ta làm gì ? Chẳng phải vợ ta ngươi đã cướp, đùi ta ngươi đã đâm rồi sao?
                        <br>
                                      Nói rồi Dam San đâm phập một nhát, cắt đầu Mtao Mxây đem bêu ngoài đường.
                        <br>
                        Dam San : nói với tôi tớ Mtao Mxây : Ơ nghìn chim sẻ, ơ vạn chim ngói. Ơ tất cả tôi tớ có mặt ở đây. Các người có đi với ta không ?
                        <br>
                        Chàng gõ vào một nhà trong làng Mtao Mxây
                        <br>
                        Dân làng :  sao chúng tôi lại không đi? Tù trưởng chúng tôi đã chết rồi, lúa chúng tôi đã mục rồi. Chúng tôi còn ở với ai?
                        <br>
                                      Dam San gõ vào xà máng, đập vào phên tất cả các nhà trong làng.
                        <br>
                        Dân làng : sao chúng tôi lại không đi, nhưng bác ơi, xin bác chờ chúng tôi quét cái bếp và cho lợn ăn cái đã .
                        <br>
                                      Dam San lại gõ vào xà máng, đập vào phên mỗi nhà trong làng.
                        <br>
                        Dam San : Ơ tất cả dân làng này , các người có đi với ta không? Tù trưởng các người đã chết, lúa các người đã mục. Ai chăn ngựa hãy đi bắt ngựa. Ai giữ voi hãy đi bắt voi. Ai giữ trâu hãy đi lùa trâu về.
                        <br>
                        Dân làng : Không đi sao được ? làng chúng tôi phía bắc đã mọc cỏ gấu, phía nam đã mọc cà hoang. Người nhà giàu cầm đầu chúng tôi nay đã không còn nữa.
                        <br>
                        Đoàn người  đông như bày catong, đặc như bày thiêu thân, ùn ùn như kiến như mối. Thế là Dam San nay càng thêm giàu có, ching lắm, char nhiều. Tôi tớ mang của cải về nhiều như ong đi chuyển nước, như vò vẽ đi chuyển hoa, như bày trai gái đi bến nước làng cõng nước.
                        <br>
                        Họ đến bãi ngoài làng, rồi vào làng.
                        <br>
                        Dam San : Ơ các con, ơ các con. Hãy đi lấy rượu bắt trâu. Rượu năm ché, trâu sổi một con để cúng thần, cáo tổ tiên, cầu sức khỏe cho ta mới đi đánh kẻ thù, bắt tù binh, giẫm nát đất đai một tù trưởng nhà giàu về. Rượu bảy ché, trâu bảy con để cúng thần, cầu cho ta được bình yên vô sự, nạn khỏi, tai qua, lớn lên như sông nước, cao lên như cây rừng, không còn ai bì kịp. Hỡi anh em trong nhà, hỡi bà con trong làng, xin mời tất cả đến với ta . Chúng ta sẽ mở tiệc ăn mừng năm mới , chúng ta sẽ ăn lợn ăn trâu, đánh lên các ching cái, trống to, đánh lên các ching hlong, hòa nhịp cùng các chũm chọe, xoa sao cho kêu lên rộn rã; để voi đực voi cái ra vào sàn hiên không ngớt; dây ching dây knă không lúc nào vắng bớt trên giá treo ching; các chuỗi thịt trâu, thịt bò treo đen cả nhà, chậu thau, âu đồng nhiều không còn chỗ để.
                        <br>
                        Tôi tớ : Đánh ching nào , thưa ông ?
                        <br>
                        Dam San : hãy đánh lên các ching mung, ching mai, những cái ching có tiếng đồng, tiếng bạc. Hãy lấy từ gùi quý ra các chùm nhạc rung lên. Hãy đánh lên cho ở dưới vỡ toác các cây xà máng, gãy nát các cây xà ngang . cho tiếng ching vang vọng khắp đó đây, khiến voi, tê giác trong rừng phải ngừng cho con bú; ếch nhái dưới gầm sàn phải ngừng kêu, kỳ nhông ở giữa bãi phải lặng thinh cả ngày đêm, để nghe tiếng ching ăn đông uống vui như mừng mùa khô năm mới của ta vậy.
                        <br>
                        Thế là Dam San mở hội ăn đông uống vui như mừng mùa khô năm mới. Nhà Dam San đầy ắp khách, tôi trai, tớ gái không còn chỗ len chân , các khách tù trưởng đều từ phương xa đến. Dam San nằm trên võng, tóc thả trên sàn, hứng tóc chàng ở dưới là một cái nong hoa. Chàng mở tiệc ăn uống linh đình, thịt lợn thịt trâu ăn không ngớt. Thịt lợn ăn đến cháy đen hết ống le, thịt dê ăn đến cháy đen hết ống lồ ô. Tiết bò tiết trâu đọng đen khắp sàn sân, dây ching dây knă giăng như mạng nhện, chỉ vàng chỉ đỏ như hoa dam piết. Cảnh đó thời ông bác, ông cậu xưa kia làm gì mà có.
                        <br>
                        Liên miên ngày không biết có chiều, đêm không biết có sáng. Dam San uống không biết chán. Cả một vùng nhão ra như nước.  Lươn trong hang, giun trong bùn, rắn hổ rắn mai đều chui lên nằm trên cao sưởi nắng.  Ếch nhái dưới gầm nhà, kỳ nhông ngoài giữa bãi thì kêu lên inh ỏi suốt ngày đêm. Các chàng trai đi lại ngực đụng ngực. Các cô gái đi lại vú đụng vú. Cảnh làng một tù trưởng nhà giàu sao mà vui thế. Rõ ràng đây là một tù trưởng đang giàu lên, ching lắm, char nhiều. Rõ ràng đây là một tù trưởng giàu có , có ching đống voi bầy, có bè bạn như nêm, như xếp. Làm sao mà có được một tù trưởng giàu có, đầu đội khăn nhiễu vai mang nải hoa, đánh đâu đập tan đó, vây đâu phá nát đó như chàng ?
                        <br>
                        Vì vậy, danh vang đến thần, tiếng lừng khắp núi, đông tây đâu đâu cũng nghe danh tiếng Dam San . Từ khắp mọi miền người ta khiêng rượu, khiêng lợn đến . Cả miền Radeh Êga ai ai cũng ca ngợi Dam San là một trang dũng tướng chắc chết mười mươi vẫn không lùi. Ngực quấn chéo một tấm mền chiến , mình khoác một tấm áo sọc rằn, tai đeo nụ, sát bên mình lỉnh kỉnh đủ thứ giáo gươm. Đôi mắt linh lợi như mắt con choi choi ăn bùn non. Chàng hiện ra là một trang tù trưởng mới giàu lên, đang tràn đầy sức trai, tiếng tăm lẫy lừng. Bắp chân chàng to bằng cây xà ngang. Bắp đùi chàng to bằng ống bễ. Sức chàng ngang sức voi đực. Hơi thở chàng ầm ầm tựa sấm dậy. Chàng nằm sấp thì gãy rầm sàn. Chàng nằm ngửa thì gãy xà dọc. Dam San vốn đã ngang tàng từ trong bụng mẹ.
                        <br>
                        Tiệc tùng linh đình, ăn uống đông vui kéo dài suốt cả mùa khô. Đến đây rượu đã nhạt, ché đã phai, mọi người ra về, ai về nhà nấy.  </h3></p>
          </div>
          <div class ="card-footer">
            <a href="/" class="btn btn-info float-right">Truyện khác</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
